.contentCounter button {
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  background-color: #18181b;
}

.buttonDecrement {
  margin-right: 1rem;
}

.buttonIncrement {
  margin-left: 1rem;
}

.contentReset button {
  width: 100%;
  font-size: 1.8rem;
  padding: .8rem 0;
  background-color: #0d6efd;
  margin-top: 1rem;
}

button {
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: opacity .3s ease;
}

button:hover {
  opacity: .8;
}

@media (max-width: 500px) {
  .contentCounter button {
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
  }

  .contentReset button {
    font-size: 1.5rem;
  }
}